<% json.forEach(item => { %>
    <hr>
    <div class="d-flex justify-content-evenly align-items-center">
        <p><%= item.firstnumber %></p>
        <p><%= item.operator %></p>
        <p><%= item.secondnumber %></p>
    </div>
<% }) %>